<!DOCTYPE html>
<html>

<head>
    <center>
        <h1>Foodster</h1>
        <h3> Here to satisfy your hunger needs. </h3>
        <h2><em>Login</em></h2>
</head>

<body>
    <%= render "form" %>

</html>