<!DOCTYPE html>
<html>

<head>
    <center>
        <h4 style="font-family:courier;">"Here to satisfy your hunger needs."</h4>
        <hr>
        <h2 style="font-family:helvetica;">Featured Users</h2>
</head>

<body>
    <% @users.each do |user| %>
    <h3>
        <li><%= link_to "#{user.name}",user %></li>
    </h3>
    <% end %>
    <br>
</body>


<%= button_to "Create a New User", new_user_path, method: :get %>
</center>


</html>
