<!DOCTYPE html>
<html>

<head>
    <center>
        <h4 style="font-family:courier;">"Here to satisfy your hunger needs."</h4>
        <hr>
        <h2 style="font-family:helvetica;"> Featured Restaurants</h2>

</head>

<body>
    <% @restaurants.each do |restaurant| %>
    <h3>
        <li><%= link_to "#{restaurant.name}",restaurant %></li>
    </h3>
    <% end %>
    <br>
</body>


<%= button_to "Add a New Restaurant", new_restaurant_path, method: :get %>
</center>


</html>