<!DOCTYPE html>
<html>

<head>
    <center>
        <h4 style="font-family:courier;">"Here to satisfy your hunger needs."</h4>
        <hr>
        <h2 style="font-family:helvetica;">Let's Add a New Restaurant</h2>
</head>

<body>
    <%= render "form" %>

</html>
<br>
<%= button_to "Go Back", restaurants_path, method: :get %>
