<!DOCTYPE html>
<html>

<head>
    
    <center>
        <h4 style="font-family:courier;">"Here to satisfy your hunger needs."</h4>
        <hr>
        <h2><b>Edit <%="#{@review.name}"%></b></h2>
        <%= render "form" %>
    
</head>
<br>
<%= button_to "Go Back", reviews_path, method: :get %>
</center>
</html>