<h1> Welcome Foodster </h1>
<h3> The App for all your hunger needs. </h3>

<ul>
<h2>Featured Reviews:<% @reviews.each do |review| %></h2>
<li><%= link_to "#{review.name}", review %></li>
<% end %></ul>
<br>

<%= button_to "Create a Review", new_review_path, method: :get %>
