<!DOCTYPE html>
<html>

<head>
    <center>
        <h1><b>Foodster</b></h1>
        <h3> Here to satisfy your hunger needs. </h3>
        <br>
        <h2><em>Featured Reviews</em></h2>
</head>

<body>
    <% @reviews.each do |review| %>
    <h3>
        <li><%= link_to "#{review.name}",review %>
        by <%="#{review.user.name}"%></li>
    </h3>
    <% end %>
    <br>
</body>


<%= button_to "Add a New Review", new_review_path, method: :get %>
</center>


</html>